@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");
:root {
  --section-padding: 50px 0;
  --red: #ef3634;
  --grey: #dcdcdc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
  color: black;
  height: 2000px;
}

a {
  text-decoration: none;
  font-size: 15px;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
p {
  margin: 0;
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}
strong,
b,
th {
  font-weight: 600;
}
.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.justify-space {
  justify-content: space-around;
}
.align-stretch {
  align-items: stretch;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}

.col-1 {
  flex-basis: 8.33%;
}
.col-2 {
  flex-basis: 16.66%;
}
.col-3 {
  flex-basis: 25%;
}
.col-4 {
  flex-basis: 33.33%;
}
.col-5 {
  flex-basis: 41.67%;
}
.col-6 {
  flex-basis: 50%;
}
.col-7 {
  flex-basis: 58.33%;
}
.col-8 {
  flex-basis: 66.66%;
}
.col-9 {
  flex-basis: 75%;
}
.col-10 {
  flex-basis: 83.33%;
}
.col-11 {
  flex-basis: 91.67%;
}
.col-12 {
  flex-basis: 100%;
}
/* nav */
.nav-header {
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}
.nav li {
  list-style: none;
  padding: 10px;
}
.logo {
  width: 100px;
}
.nav-icons li {
  list-style: none;
  padding: 10px 5px;
}
.nav-icons span.material-icons {
  margin-top: 8px;
}

/* filter */
.filter {
  list-style: none;
}
.filter-container {
  position: sticky;
  top: 62px;
  left: 0;
  background-color: white;
  box-shadow: -1px -1px 1px -1px rgb(0 0 0 / 52%);
}
.filter-link {
  text-transform: uppercase;
  color: inherit;
  display: inline-block;
  font-size: 14px;
  border-bottom: 2px solid var(--grey);
  text-align: center;
  transition: all 0.3s;
  padding: 6px 0;
}
.filter-link.active,
.filter-link:hover {
  color: var(--red);
  font-weight: 600;
  border-bottom: 2px solid var(--red);
}
/* type */
.type {
  list-style: none;
  columns: #fff;
  margin-top: 30px;
  gap: 5px;
}
.type-item {
  width: 100px;
}
.type-link {
  display: block;
  background-color: var(--grey);
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  transition: all 0.3s;
}
.type-link.active,
.type-link:hover {
  background-color: var(--red);
}
.recipe {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

.recipe span {
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
}

/* product */
.product-list {
  margin-top: 15px;
}
.product-list .col-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.product-name {
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}
.product-price {
  text-align: center;
  font-size: 12px;
  font-style: bold;
}
.info {
  gap: 10px;
  margin: 40px 15px;
}
input[type="text"] {
  font-size: 10px;
  padding: 5px;
  border: 1px solid grey;
}
button {
  font-size: 10px;
  color: white;
  padding: 8px;
  background: black;
  border: none;
  border-radius: 2px;
}
footer {
  height: 30px;
}
footer ul {
  list-style: none;
  position: relative;
  margin-right: 100px;
  display: inline-table;
  font-size: 12px;
}
footer ul li {
  transition: all 0.2s ease-in-out;
}

footer ul li:visited {
  background: rgba(0, 0, 0, 0.15);
}
footer ul li:hover > ul {
  display: block;
}

footer ul li a {
  display: block;
  padding-left: 10px;
  margin-right: 50px;
  color: black;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-decoration: none;
  border: none;
}
footer ul ul {
  display: none;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 100%;
  width: 200px;
}
footer ul ul li {
  position: relative;
}
footer ul ul li a {
  padding-left: 10px;
  color: black;
  font-size: 10px;
}
footer ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
.footer {
  background: #f1f1f1;
}
.material-icons {
  padding-top: none;
}
.footer-info {
  align-items: center;
}